# Django settings
SECRET_KEY=Your secret key for Django Project
DEBUG=Is Debug Mode Off or On

# Database settings
DB_NAME=Name Of Your Postgres Database
DB_USER=Owner Name Of Your Postgres Database
DB_PASSWORD=Owner Password Of Your Postgres Database
DB_HOST=Location Of Your Postgres Database
DB_PORT=Port For Your Postgres Database